body{
    background-image: url('hh.webp');
    background-attachment: fixed;
    
}
p,h1,h2{
  color: rgb(219, 226, 222);}

  .navbar{
    width: 85%;
    margin:auto; 
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }

.logo{
    width: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }

  .navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color:rgb(162, 235, 67);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }

  .navbar ul li:hover:after{
    width: 100%;
  }

  button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    color:rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow:hidden;
  }

  span{
    background-color:rgb(162, 235, 67);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.8s;
  }


  button:hover span{
    width: 100%;
  }

.ver{
  width: 400px;
  height: 600px;
  background-color: black;
  box-shadow: yellowgreen;
  opacity: 50%;
    padding: 15px;
    text-align:center;
    margin: 20px 100px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    cursor: pointer;
    position: relative
}
.pipe{
  rotate: 180deg;
  height: 500px;
  width: 300px;}

.pipe2:{
    
  }
